body {
    height: 135px;
    background-color: #EFEFEF;
    width: 400px;
    min-height: 400px;
}

#notifications {
    margin-bottom: 5px;
}

.container {
    margin-top: 20px;
}

.select2 {
    width: 300px;
}

ul.select2-results {
 max-height: 300px;
}
.select2-result-selectable .select2-match, .select2-result-unselectable .select2-match {
    text-decoration: none;
    color: orange;
  }